---
layout: default
---

{% comment %} If we've masthead content, wrap it so we can alter the padding below {% endcomment %}
{% if page.masthead or page.carousel %}
<figure class="masthead">

{% comment %} Dynamically create a masthead as many images wide as provided {% endcomment %}
    {% if page.masthead %}
		{% for image in page.masthead %}
			<div class="masthead__image--1of{{ forloop.length }}">
				<img src="{{ image.image }}" alt="{{ image.alt }}">
			</div>
		{% endfor %}
		{% if page.caption %}
			<figcaption class="">{{ page.caption }}</figcaption>
		{% endif %}
	{% endif %}

{% comment %} Dynamically create a slick-powered carousel for as many images as provided {% endcomment %}
	{% if page.carousel %}
		<div class="carousel">
			{% for slides in page.carousel %}
			<div>
				<img data-lazy="{{ slides.image }}" alt="{{ slides.alt }}" title="{{ slides.alt }}">
			</div>
			{% endfor %}
		</div>
	{% endif %}

</figure>
{% endif %}

<article class="content">

    <header class="post-heading">
        <h2 class="post-heading__headline">{{ page.title }}</h2>
        {% if page.categories contains 'blog' %}
            {% comment %} Blog, show date posted {% endcomment %}
            <p class="meta">Posted on {{ page.date | date_to_string }}</p>
        {% elsif page.categories contains 'work' %}
            {% comment %} Portfolio work, show the tags posted under {% endcomment %}
            <p class="meta">Posted under {{ page.tags | array_to_sentence_string }}</p>
        {% endif %}
    </header>

	{{ content }}

{% comment %} Blog, show comments {% endcomment %}
	{% if page.categories contains 'blog' %}
		{% include disqus.html %}
	{% endif %}


</article>
