---
layout: default
title: "Some thoughts&hellip;"
navigation:
  title: Blog
  weight: 200
  show: true
---

<section class="content">

    <h2>{{ page.title }}</h2>

    <ul class="blog-posts">{% for post in site.posts %} {% if post.categories contains 'blog' %}
        <li class="blog-post">
            <h4 class="blog-post__heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p class="blog-post__excerpt">{{ post.excerpt | strip_html | truncate: 140 }}</p>
        </li>{% endif %} {% endfor %}
    </ul>

</section>
