<div class="sidebar pure-u">

    <header class="header pure-u-1 clearfix">

        <div class="title-logo">
            <div class="letter letter--d"></div>
            <div class="letter letter--o"></div>
        </div>

        <h1 class="site-title"><a href="/">{{ site.name }}</a> is a Consultant Front-End Developer</h1>

        <nav>
            <ul>{% for p in site.navigation %}
                <li{% if p.url==page.url %} class="active" {% endif %}>
                    <a href="{{ p.url }}">{{ p.navigation.title }}</a>
                    </li>{% endfor %}
            </ul>
        </nav>

    </header>

    <div class="social">

        <ul>
            <li>
                <a class="icon-twitter-bird" target="_blank" href="http://www.twitter.com/DavidOllerhead" title="Twitter">
                    <span class="visuallyhidden">Twitter</span>
                </a>
            </li>
            <li>
                <a class="icon-facebook-rect" target="_blank" href="http://www.facebook.com/oller" title="Facebook">
                    <span class="visuallyhidden">Facebook</span>
                </a>
            </li>
            <li>
                <a class="icon-linkedin-rect" target="_blank" href="http://uk.linkedin.com/in/davidollerhead" title="LinkedIn">
                    <span class="visuallyhidden">LinkedIn</span>
                </a>
            </li>
            <li>
                <a class="icon-github" target="_blank" href="http://www.github.com/oller" title="Github">
                    <span class="visuallyhidden">Github</span>
                </a>
            </li>
            <li>
                <a class="icon-instagram-filled" target="_blank" href="http://www.instagram.com/davidollerhead" title="Instagram">
                    <span class="visuallyhidden">Instagram</span>
                </a>
            </li>
            <li>
                <a class="icon-bicycle" target="_blank" href="http://app.strava.com/athletes/707623" title="Strava">
                    <span class="visuallyhidden">Srava</span>
                </a>
            </li>
        </ul>

    </div>

</div>
