---
layout: default
title: Front End Developer
navigation:
  title: Work
  weight: 100
  show: true
---

 <div class="portfolio-grid">
	<div class="portfolio-grid__filters">
		<ul>
			<li class="portfolio-grid__filter portfolio-grid__filter--active" data-filter="all"><a href="#">All</a></li>
			{% area_list %}
		</ul>
	</div>
	{% for post in site.categories.work %}
        {% comment %}Split the image path on last '.'  Break into path and file format{% endcomment %}
        {% assign thumbPathArray = post.thumb | split: '.' %}
        {% assign thumbPath = '' %}
        {% for item in thumbPathArray %}
            {% if forloop.last != true %}
                {% capture thumbPath %}{{ thumbPath }}{{ item }}{% endcapture %}
            {% endif %}
        {% endfor %}
        {% assign thumbFormat = thumbPathArray | last  %}
        {% if site.production %}
            {% capture imageLQPlaceholder %}src="{{ thumbPath }}-lq.{{ thumbFormat }}"{% endcapture %}
            {% capture imageResponsivePath %}{{ thumbPath }}-{width}.{{ thumbFormat }}{% endcapture %}
        {% else %}
            {% capture imageResponsivePath %}{{ post.thumb }}{% endcapture %}
        {% endif %}
		<div class="portfolio-grid__work" data-tags="{% for tag in post.tags %}{{ tag | downcase }} {% endfor %}">
			<figure class="portfolio-grid__thumb">
				<a class="portfolio-grid__link" href="{{ post.url }}" title="{{ post.title }}">
					<img class="portfolio-grid__img lazyload" {{ imageLQPlaceholder }} data-src="{{ imageResponsivePath | strip }}" data-sizes="auto" alt="{{ post.title }}">
				</a>
                {% comment %}
				<figcaption>
					<h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
					<span>{{ post.tags | array_to_sentence_string }}</span>
				</figcaption>
                {% endcomment %}
			</figure>
		</div>
	{% endfor %}
</div>
