{% assign bemBaseClass = 'social__icons' %}
{% include bemmodifier.html %}

<ul class="{{bemBaseClass}} {{bemModifiedClass}}">
    <li>
        <a class="icon-twitter" target="_blank" href="http://www.twitter.com/DavidOllerhead" title="Twitter">
            <span class="visuallyhidden">Twitter</span>
        </a>
    </li>
    <li>
        <a class="icon-linkedin" target="_blank" href="http://uk.linkedin.com/in/davidollerhead" title="LinkedIn">
            <span class="visuallyhidden">LinkedIn</span>
        </a>
    </li>
    <li>
        <a class="icon-github" target="_blank" href="http://www.github.com/oller" title="Github">
            <span class="visuallyhidden">Github</span>
        </a>
    </li>
    <li>
        <a class="icon-instagram" target="_blank" href="http://www.instagram.com/davidollerhead" title="Instagram">
            <span class="visuallyhidden">Instagram</span>
        </a>
    </li>
    <li>
        <a class="icon-trophy" target="_blank" href="http://app.strava.com/athletes/707623" title="Strava">
            <span class="visuallyhidden">Srava</span>
        </a>
    </li>
</ul>
