
/* Colour Variables
   ========================================================================== */

$charcoalAccent: #596166;
// $sidebarBackground: #596166;
// $sidebarBackground: #032029;
$sidebarBackground: #555;
$offWhite: #FAFAFA;
$primaryLink: #d63082;
// $primaryLink: #d55d27;
// $primaryLink: #990000;
$secondaryLink: #1DACA7;
$grey: #CCC;
$lightGrey: #AAA;
$darkGrey: #888;
$bodyBaseText: #4c4c4c;
