// Footer Styles
// ======================================

.footer {
    border-top: 1px solid $colour-grey-light;
    color: $colour-grey;
    font-family: $font-monospace;
    font-size: .7rem;
    line-height: 2;
    padding: 1rem;
}

.footer__copyright {
    @include grid-span(12);
}

.footer__built-with {
    @include grid-span(12, 13);
    text-align: right;
}
