// Header and Sidebar Styles
// ======================================

.header {
    background-color: $colour-sidebar-background;
    padding: 2rem;

    @include breakpoint($breakpoint-small) {
        padding: 0;
    }
}

.nav {
    @include breakpoint($breakpoint-small) {
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 6rem;
    }
}

// Squidgy Logo Styles
// ======================================

$letter-size: 3rem;

@mixin squidgy () {
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, .4),
              inset 0 -3px 4px -1px rgba(0, 0, 0, .4),
              0 -8px 15px -1px rgba(255, 255, 255, .2),
              inset 0 3px 4px -1px rgba(255, 255, 255, .1),
              inset 0 0 5px 1px rgba(255, 255, 255, .4),
              inset 0 10px 15px 0 rgba(255, 255, 255, .1);
}

@mixin squidgy-hover () {
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, .4),
              inset 0 -8px 25px -1px rgba(255, 255, 255, .3),
              0 -8px 15px -1px rgba(255, 255, 255, .2),
              inset 0 8px 20px 0 rgba(0, 0, 0, .4),
              inset 0 0 5px 1px rgba(255, 255, 255, .2);
}

@mixin squidgy-active () {
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, .4),
              inset 0 -8px 30px 1px rgba(255, 255, 255, .4),
              0 -8px 15px -1px rgba(255, 255, 255, .2),
              inset 0 8px 20px 0 rgba(0, 0, 0, .8),
              inset 0 0 10px 1px rgba(255, 255, 255, .1);
}

.logo {
    @include grid-span(12);
    margin: 1rem auto;
    text-align: center;

    @include breakpoint($breakpoint-small) {
        @include grid-span(24);
        margin: 0 auto 2rem;
    }
}

.logo__letter {
    @include squidgy();
    display: inline-block;
    filter: blur(1px);
    // filter: url('/img/blur.svg#blur');
    height: $letter-size;
    transition: all 300ms cubic-bezier(.230, 1, .320, 1);
    width: $letter-size;

    &:hover {
        @include squidgy-hover();
    }

    &:active {
        @include squidgy-active();
    }
}

.logo__letter--d {
    border-radius: 0 10em 10em 0;
}

.logo__letter--o {
    border-radius: 10em;
    margin-left: .2em;
}

.header__strap {
    display: none;

    @include breakpoint($breakpoint-small) {
        color: $colour-grey;
        display: block;
        font-family: $font-monospace;
        font-size: .8rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
        text-align: center;

        a {
            color: $colour-white-off;
            text-decoration: none;
        }
    }
}

.header__nav {
    @include grid-span(12, 13);
    margin: 0;
    padding: 0;

    @include breakpoint($breakpoint-small) {
        @include grid-span(20, 3);
    }

    li {
        font-family: cousine;
        list-style: none;
        margin-bottom: .6em;

        &.active a {
            background-color: darken($colour-sidebar-background, 6%);
            color: $colour-white-off;

            &:hover,
            &:focus {
                background-color: darken($colour-sidebar-background, 6%);
                color: $colour-white-off;
            }
        }

        a {
            @include single-transition();
            background-color: $colour-sidebar-background;
            border-radius: 5px;
            color: $colour-grey;
            display: block;
            font-size: .7em;
            padding: .5em 1.2em;
            text-decoration: none;

            &:hover,
            &:focus {
                // On hover
                background-color: darken($colour-sidebar-background, 2%);
                color: $colour-grey;
            }

            &:active {
                // On key down
                background-color: darken($colour-sidebar-background, 4%);
                color: lighten($colour-grey, 20%);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header__social {
    display: none;

    @include breakpoint($breakpoint-small) {
        @include grid-span(24);
        bottom: 2rem;
        display: block;
        margin: 0 auto;
        position: absolute;
        text-align: center;
    }
}
