// Header and Sidebar Styles
// ======================================

.sidebar {
	background-color: $colour-sidebar-background;
	padding: 1rem;
}

.header {
	@include breakpoint($breakpoint-small) {
		position: absolute;
		left: 1rem;
		right: 1rem;
		top: 3rem;
	}
}

// Squidgy Logo Styles
// ======================================

$letter-size: 4vw;

@mixin squidgy($scale: 1)
{
  box-shadow: 0 (8px/$scale) (15px/$scale) (-4px/$scale) rgba(0,0,0,0.4),
              inset 0 -3px 4px -1px rgba(0,0,0,0.4),
              0 (-8px/$scale) (15px/$scale) -1px rgba(255,255,255,0.2),
              inset 0 (3px/$scale) (4px/$scale) -1px rgba(255,255,255,0.1),
              inset 0 0 (5px/$scale) 1px rgba(255,255,255,0.4),
              inset 0 (10px/$scale) (15px/$scale) 0 rgba(255,255,255,0.1);
}

@mixin squidgy-hover($scale: 1)
{
  box-shadow: 0 (8px/$scale) (15px/$scale) (-4px/$scale) rgba(0,0,0,0.4),
              inset 0 (-8px/$scale) (25px/$scale) -1px rgba(255,255,255,0.3),
              0 (-8px/$scale) (15px/$scale) -1px rgba(255,255,255,0.2),
              inset 0 (8px/$scale) (20px/$scale) 0 rgba(0,0,0,0.4),
              inset 0 0 (5px/$scale) 1px rgba(255,255,255,0.2);
}

@mixin squidgy-active($scale: 1)
{
  box-shadow: 0 (8px/$scale) (15px/$scale) (-4px/$scale) rgba(0,0,0,0.4),
              inset 0 (-8px/$scale) (30px/$scale) 1px rgba(255,255,255,0.4),
              0 (-8px/$scale) (15px/$scale) -1px rgba(255,255,255,0.2),
              inset 0 (8px/$scale) (20px/$scale) 0 rgba(0,0,0,0.8),
              inset 0 0 (10px/$scale) 1px rgba(255,255,255,0.1);
}
.logo {
	margin: 0 auto 2em;
	text-align: center;
}

.logo__letter {
	@include squidgy();
	transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	filter: blur(1px);
	filter: url('/assets/img/blur.svg#blur');
	display: inline-block;
	width: $letter-size;
	height: $letter-size;
	&:hover {
		@include squidgy-hover();
	}
	&:active {
		@include squidgy-active();
	}
}

.logo__letter--d {
	border-radius: 0 10em 10em 0;
	margin-right: .1em;
}

.logo__letter--o {
	border-radius: 10em;
	margin-left: .1em;
}

.header__strap {
	font-family: 'Cousine';
	font-size: .8rem;
	font-weight: normal;
	text-align: center;
	color: $colour-white-off;
	a {
		color: $colour-white-off;
	}
}

.header__nav {
    margin: 1em 0 0;
    padding: 0;
    li {
        margin-top: .6em;
        font-family: cousine;
        list-style: none;
        &.active a {
            color: $colour-white-off;;
            background-color: darken($colour-sidebar-background, 6%);
            &:hover, &:focus {
                background-color: darken($colour-sidebar-background, 6%);
                color: $colour-white-off;;
            }
        }
        a {
            background-color: $colour-sidebar-background;
            color: $colour-grey;
            display: block;
            padding: .5em 1.2em;
            font-size: .8em;
            border-radius: 5px;
            text-decoration: none;
            &:hover, &:focus {
                color: $colour-grey;
                background-color: darken($colour-sidebar-background, 2%);
            }
            &:active {
                background-color: darken($colour-sidebar-background, 4%);
                color: lighten($colour-grey, 20%);
            }
        }
    }
}

.social {
	text-align: center;
	@include breakpoint($breakpoint-small) {
		position: absolute;
		left: 1rem;
		right: 1rem;
		bottom: 2rem;
	}
}

.social__icons {
	@include inline-list();
	@include font-smoothing(on);
	li {
		margin-left: .5rem;
		a{
			text-decoration: none;
			color:$colour-white-off;
			&:hover,
			&:focus {
				color:$colour-white;
			}
		}
		&:first-child {
			margin-left: 0;
		}
	}
}
