// Various Resets
// ======================================

* {
    box-sizing: border-box;
}

img {
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}

figure {
    margin: 0;
}

.round {
    border-radius: 1000px;
}

::selection,
::-moz-selection {
    background: $colour-accent-primary;
    color: $colour-white;
}
