// Various Resets
// ======================================

* {
    box-sizing: border-box;
}

img {
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}

figure {
    margin: 0;
}

// Appearance Modifiers
.round {
    border-radius: 100%;
}

.drop-shadow {
    box-shadow: 0 18px 30px rgba($colour-black, .2), 0 4px 10px rgba($colour-black, .5);
}

// Selection Styles
::selection {
    background: $colour-accent-primary;
    color: $colour-white;
}

::-moz-selection {
    background: $colour-accent-primary;
    color: $colour-white;
}
