// Homepage Styles
//======================================

.portfolio-grid {
    @extend %clearfix;
}

.portfolio-grid__filters {
    display: none;

    @include breakpoint($breakpoint-small) {
        display: block;
        padding: 1rem;
        text-align: center;

        ul {
            @include inline-list();
        }
    }
}

.portfolio-grid__filter {
    font-family: $font-monospace;
    font-size: .8rem;
    margin-left: 1.4rem;

    a {
        @include single-transition();
        border: 0;
        border-radius: 5px;
        color: $colour-grey;
        display: inline-block;
        padding: .5rem 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: rgba($colour-grey-dark, .2);
            color: $colour-grey-dark;
        }

        &.active {
            background-color: $colour-accent-primary;
            color: $colour-white;
        }
    }

    &:first-child {
        margin-left: 0;
    }
}

.portfolio-grid__work {
    @include float-span(1, $grid: 2, $gutter: 0);

    @include breakpoint($breakpoint-medium) {
        @include float-span(1, $grid: 3, $gutter: 0);
    }

    @include breakpoint($breakpoint-large) {
        @include float-span(1, $grid: 4, $gutter: 0);
    }

    @include breakpoint($breakpoint-xlarge) {
        @include float-span(1, $grid: 5, $gutter: 0);
    }

    // Stagger into animation
    @include animate-prefixer(animation-name, zoomIn);
    @include animate-prefixer(animation-duration, $base-duration / 2);
    @include animate-prefixer(animation-fill-mode, both);
    @for $i from 1 through 20 {
        $delay: 1s * ($i/20);
        &:nth-child(#{$i}) {
            @include animate-prefixer(animation-delay, $delay);
        }
    }

    // Masked Toggling - To be tidied Up!
    &.masked {
        .portfolio-grid__thumb {
            opacity: .1;
        }
    }

    .portfolio-grid__thumb {
        @include single-transition();
    }
}

