// Masthead
// ======================================

.masthead {
    @extend %clearfix;
    margin-bottom: 2rem;
}

@for $i from 1 through 5 {
    .masthead__image--1of#{$i} {
        @include float-span(1, $grid: 1, $gutter: 0);

        @include breakpoint($breakpoint-small) {
            @include float-span(1, $grid: round($i/2), $gutter: 0);
        }

        @include breakpoint($breakpoint-medium) {
            @include float-span(1, $grid: $i, $gutter: 0);
        }
    }
}

.masthead__hero {
    @extend %bg--cover;
    height: 60vh;

    @include breakpoint($breakpoint-small) {
        height: 100vh;
    }
}

.masthead__caption {
    background-color: $colour-grey;
    bottom: 0;
    color: $colour-white-off;
    font-family: $font-monospace;
    font-size: .8rem;
    padding: .2rem 1.5rem;
    text-align: right;
}

.masthead--bg {
    background: #eee;
    background-image: radial-gradient(closest-corner, rgba(8, 8, 8, 0) 60%, rgba(8, 8, 8, .15)), linear-gradient(315deg, #ddd 10%, #fff 90%);
    padding: 5rem 0;
    text-align: center;
}
