// Single Post Styles
// ======================================


// About
// ======================================


.about__photo {
    display: block;
    margin: 0 auto 1rem;

    @include breakpoint($breakpoint-small) {
        float: right;
        margin-left: 1rem;
        width: 35%;
    }

    @include breakpoint($breakpoint-large) {
        width: 25%
    }
}

.skills {
    @include float-span(1, $grid: 1, $gutter: 0);

    @include breakpoint($breakpoint-small) {
        @include float-span(1, $grid: 2, $gutter: 0);
    }
}

.skills__set {
    font-size: $font-size-base * .8;

    ul {
        padding-left: 1rem;

        li {
            color: $colour-grey-dark;
        }
    }
}


// Blog Posts List
// ======================================

.blog-posts {
    list-style: none;
    padding-left: 0;
}

.blog-post {
    margin-bottom: 1.5rem;
}

.blog-post__heading {
    font-family: $font-body;
    margin-bottom: .2rem;
}

.blog-post__excerpt {
    color: $colour-grey-dark;
    font-size: 1rem;
    margin-bottom: 0;
}


// Post Page
// ======================================

.post-heading {
    margin-bottom: 2rem;
}

.post-heading__headline {
    margin-bottom: 0;
}
