// Single Post Styles
// ======================================


// About
// ======================================

.skills {
	@include float-span(1, $grid: 1, $gutter: 0);
    @include breakpoint($breakpoint-small) {
		@include float-span(1, $grid: 2, $gutter: 0);
    }

    ul {
        font-size: $font-size-base * 0.8;
        ul li {
            color: $colour-grey-dark;
        }
    }
}


// Blog Posts
// ======================================

.blog-posts {
    list-style: none;
    padding-left: 0;
}

.blog-post {
    margin-bottom: 1.5rem;
}

.blog-post__heading {
    font-family: $font-body;
    margin-bottom: .2rem;
}

.blog-post__excerpt {
    color: $colour-grey-dark;
    font-size: 1rem;
    margin-bottom: 0;

}
