// Social Icon Base Styles
// ======================================

.social__icons {
    @include inline-list();
    @include font-smoothing(on);

    li {
        margin-left: .5rem;

        a {
            @include single-transition();
            border-bottom: 0;
            color: $colour-grey;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $colour-white-off;
            }
        }


        &:first-child {
            margin-left: 0;
        }
    }
}

.social__icons--footer {
    li {

        a {
            font-size: 1.6rem;

            &:hover,
            &:focus {
                color: $colour-grey-dark;
            }
        }
    }
}

