//  Mixins, Placeholders etc
// ======================================

// Compass-Sourced Inline list mixin
@mixin inline-list {
    list-style-type: none;
    margin: 0;

    &,
    & li {
        display: inline-block;
        padding: 0;
    }
}

@mixin font-smoothing($value: on) {
    @if $value==on {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    } @else {
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

// We use this to add transitions to elements
// $property - Default: all,
// Options: http://www.w3.org/TR/css3-transitions/#animatable-properties
// $speed - Default: 300ms
// $ease - Default:ease-out,
// Options: http://css-tricks.com/almanac/properties/t/transition-timing-function/
@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
    transition: $property $speed $ease;
}

// Clearfix Placeholder
%clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
