// Typography
// ======================================

body {
  color: $colour-grey-darker;
	font-family: $font-body;
	font-size: $font-size-base;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: normal;
}


.meta {
  color: $colour-grey;
  font-size: 0.8rem;
  font-family: $font-monospace;
}

p {
	margin-top: 0;

  a {
    @include single-transition();
    border-bottom: 1px solid $colour-accent-primary;
    color: $colour-grey-darker;
    text-decoration: none;
    // white-space: nowrap;

    &:hover,
    &:focus {
      color: $colour-accent-primary;
    }
  }
}

