// Typography
// ======================================

body {
    color: $colour-grey-darker;
    font-family: $font-body;
    font-size: $font-size-base;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: normal;
    margin-top: .4em;
}


.meta {
    color: $colour-grey;
    font-family: $font-monospace;
    font-size: .8rem;
}

p {
    margin-top: 0;
}

.container,
.footer {
    a {
        @include single-transition();
        border-bottom: 1px solid $colour-accent-primary;
        color: $colour-grey-darker;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $colour-accent-primary;
        }
    }
}
