// Typography
// ======================================

body {
    color: $colour-grey-darker;
    font-family: $font-body;
    font-size: $font-size-base;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: normal;
    margin-top: .4em;
}

.meta {
    color: $colour-grey;
    font-family: $font-monospace;
    font-size: .8rem;
}

p {
    margin-top: 0;

    code {
        color: $colour-accent-primary;
        font-size: 1rem;
        padding: 0 .2rem;
    }
}

pre,
code {
    font-family: $font-monospace;
    font-size: .8rem;
}

blockquote {
    color: $colour-grey;
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem 0 1rem 3rem;
    position: relative;

    p {
        margin-bottom: 0;
    }

    // Open quotation mark
    &:before {
        content: '\201C';
        font-size: 5rem;
        left: 0;
        line-height: 1;
        opacity: .4;
        position: absolute;
        top: 0;
    }
}

// Fancy 3d inline links
// ======================================

// .content,
// .footer {
//     backface-visibility: hidden;
//     overflow: hidden;
//     position: relative;
//     z-index: 1; // needed for setting pseudo-element z-index

//     a {
//         color: $colour-grey-darker;
//         display: inline-block;
//         font-weight: 500;
//         outline: none;
//         perspective: 600px;
//         perspective-origin: 50% 100%;
//         position: relative;
//         text-decoration: none;
//         transition: color .3s;
//         vertical-align: bottom;
//         white-space: nowrap;

//         &:hover,
//         &:focus {
//             color: $colour-white;
//         }

//         &::before,
//         &::after {
//             backface-visibility: hidden;
//             box-sizing: content-box;
//             content: '';
//             font-smoothing: antialiased;
//             height: 100%;
//             left: -4px;
//             padding: 0 4px;
//             pointer-events: none;
//             position: absolute;
//             top: 0;
//             width: 100%;
//             z-index: -1;
//         }

//         &::before {
//             background-color: $colour-accent-primary;
//             transform: rotateX(90deg);
//             transform-origin: 50% 100%;
//             transition: transform .2s;
//             transition-timing-function: cubic-bezier(.7, 0, .3, 1);
//         }

//         &::after {
//             border-bottom: 2px solid $colour-accent-primary;
//         }


//         &:hover::before,
//         &:focus::before {
//             transform: rotateX(0deg);
//         }
//     }
// }

// Regular inline links
// ======================================

.content,
.footer {
    a {
        @include single-transition();
        border-bottom: 1px solid $colour-accent-primary;
        color: $colour-grey-darker;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $colour-accent-primary;
        }
    }
}
