// Variables
// ======================================

// Breakpoints (Mobile First)
// ======================================
$breakpoint-small: 800px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1400px;
$breakpoint-xlarge: 1800px;

$mobile-gutter: 1rem;

// Settings
// ======================================
$border-radius: 5px;

// Background Images
// ======================================
$bg-image: '/img/backgroundPattern.png';
$bg-image-dark: '/img/backgroundPatternDark.png';
$bg-image-darker: '/img/backgroundPatternDarker.png';

// Colours
// ======================================
$colour-sidebar-background: #555;
$colour-white: #fff;
$colour-white-off: #fafafa;
$colour-accent-primary: #d63082;
$colour-accent-secondary: #1daca7;
$colour-accent-ternary: #f35535;
$colour-grey-light: #ddd;
$colour-grey: #aaa;
$colour-grey-dark: #888;
$colour-grey-darker: #4c4c4c;

// Webfonts
// ======================================
$font-body: 'skolar_rgregular', 'serif';
$font-heading: 'skolar_sbsemibold', 'serif';
$font-monospace: 'Cousine', 'Inconsolata', 'Andale Mono', AndaleMono, monospace;

// Type
// ======================================
$font-size-base: 1.2rem;
