// Webfonts
// ======================================

@font-face {
    font-family: 'skolar_rgregular';
    src: url('/fonts/skolar_regular-webfont.eot');
    src: url('/fonts/skolar_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/skolar_regular-webfont.woff2') format('woff2'),
    url('/fonts/skolar_regular-webfont.woff') format('woff'),
    url('/fonts/skolar_regular-webfont.ttf') format('truetype'),
    url('/fonts/skolar_regular-webfont.svg#skolar_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skolar_sbsemibold';
    src: url('/fonts/skolar_semibold-webfont.eot');
    src: url('/fonts/skolar_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/skolar_semibold-webfont.woff2') format('woff2'),
    url('/fonts/skolar_semibold-webfont.woff') format('woff'),
    url('/fonts/skolar_semibold-webfont.ttf') format('truetype'),
    url('/fonts/skolar_semibold-webfont.svg#skolar_sbsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: local('Cousine'), url(http://themes.googleusercontent.com/static/fonts/cousine/v4/S-JOYqoHekxYm2RHFzWYtgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

// @font-face {
//   font-family: 'Droid Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
// }

// @font-face {
//   font-family: 'Merriweather';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Merriweather'), url(http://fonts.gstatic.com/s/merriweather/v7/RFda8w1V0eDZheqfcyQ4EBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merriweather/v7/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
// }

@font-face {
    font-family: $font-icons;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/icons-davidollerhead.eot');
    src: url('/fonts/icons-davidollerhead.eot#iefix') format('embedded-opentype'),
       url('/fonts/icons-davidollerhead.woff2') format('woff2'),
       url('/fonts/icons-davidollerhead.woff') format('woff'),
       url('/fonts/icons-davidollerhead.ttf') format('truetype'),
       url('/fonts/icons-davidollerhead.svg#icons-davidollerhead') format('svg');
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    font-family: $font-icons;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: .2em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}

.icon-trophy:before {
    content: '\e800';
}

.icon-github:before {
    content: '\e801';
}

.icon-twitter:before {
    content: '\e802';
}

.icon-instagram:before {
    content: '\e803';
}

.icon-linkedin:before {
    content: '\e807';
}

.icon-arrow-right:before {
    content: '\e804';
}

.icon-arrow-left:before {
    content: '\e805';
}

