// Import Singluarity Grid & Breakpoint Dependencies
@import 'singularity/stylesheets/singularitygs.scss';
@import 'breakpoint-sass/stylesheets/breakpoint.scss';

// Set Debug mode to view background grid
@include sgs-change('debug', true);

* {
  box-sizing: border-box;
}

figure {
	margin: 0;
}

body {
	@include add-grid(1);
	@include add-grid(4 at 900px);
	@include add-grid(5 at 1200px);

	@include add-gutter(1/3);
	@include add-gutter(0 at 900px);

    @include background-grid($color: blue);
}

.sidebar {
	@include grid-span(1);
	background-color: green;

	@include breakpoint(900px) {
		@include grid-span(1);
		background-color: lime;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}

	@include breakpoint(1200px) {
		@include grid-span(1);
	}
}

.content {
	@include grid-span(1);
	// background-color: purple;

	@include breakpoint(900px) {
		@include grid-span(3, 2);
		background-color: pink;
	}

	@include breakpoint(1200px) {
		@include grid-span(4, 2);
		background-color: pink;
	}

}

.portfolio-grid__work {

}

// .sidebar {
// 	text-align: center;
// 	padding: 2rem 1rem;
// 	color: rgba(255,255,255,.5);
// 	background-color: #202020;

// 	@include breakpoint(768px) {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		bottom: 0;
// 		width: 18rem;
// 		text-align: left;
// 	}
// }

// .sidebar--sticky {
// 	position: absolute;
// 	left: 1rem;
// 	right: 1rem;
// 	bottom: 1rem;
// }

// .content {
// 	padding-top: 4rem;
// 	padding-bottom: 4rem;

// 	@include breakpoint(768px) {
// 		max-width: 38rem;
// 		margin-left: 20rem;
// 		margin-right: 2rem;
// 	}
// }

// .container {
// 	max-width: 38rem;
// 	padding-left: 1rem;
// 	padding-right: 1rem;
// 	margin-left: auto;
// 	margin-right: auto;


// }
